*,html{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#box{
    background: yellow;
    height: 50vh;
    position: relative;
    width: 50vw;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: space-around;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: aqua;
 }
 form input{
     width: 90vh;
     margin-top: 8px;
     height: 30px;
 }

 
